# app
NODE_ENV=development
PORT=3000
VERSION=1.0.0

# timezone
TIMEZONE_DEFAULT=+09:00
TIMEZONE_DEFAULT_NAME='Asia/Tokyo'
# API PREFIX URL
BASE_PATH=/api/v1

# cors
CORS_WHITELIST=*

MONGO_DATABASE_CONNECTION_STRING=mongodb://localhost:27017/training
